clearfix = @block
    &:after
        content: ''
        display: block
        heigh:t 0
        clear: both
        visibility: hidden

responsive = @block
    width: 100%
    height: auto

bordered = @block
    &:after
        content: ''
        display: block
        width: 70px
        margin: .5em auto 0
        border-bottom: 2px solid $colour.crystal

