$gutter = 1.2rem
$columns = 12 // number of columns
$screen = {
    xs:  "screen and (max-width: 26em)", // 416px
    sm:  "screen and (min-width: 26em)",
    md: "screen and (min-width: 48em)",  // 768px
    lg:  "screen and (min-width: 60em)", // 960px
    xl:  "screen and (min-width: 75em)"  // 1200px
}

// fonts
$fontsize = 1.6rem
$font = {
    body: unquote('"Open Sans", Helvetica, Arial, sans-serif'),
    heading: unquote('"Open Sans Condensed", Georgia, Times, serif')
}

