$gutter = 1.2rem
$columns = 12 // number of columns
$screen = {
    xs:  "screen and (max-width: 26em)", // 416px
    sm:  "screen and (min-width: 26em)",
    md: "screen and (min-width: 48em)",  // 768px
    lg:  "screen and (min-width: 60em)", // 960px
    xl:  "screen and (min-width: 96em)"  // 1536px
}

// fonts
$fontsize = 1.4rem
$font = {
    body: unquote('"Open Sans", Helvetica, Arial, sans-serif'),
    heading: unquote('"Open Sans", Georgia, Times, serif')
}

// colours
$colour = {
    default: #000000,
    blue: #006098,
    green: #009ca8,
    yellow: #cfa642,
    red: #a42616,
    grey: #919396,
    crystal: #c1b99c
}
