.header
    position: fixed
    z-index: 100
    top: 0
    width: 100%
    background-color: white
    transition box-shadow .2s

    &-pinned:not(&-top)
    &-unpinned
        box-shadow: 0 5px 5px rgba($colour.default, 0.2)
