html
    font-size: 62.5%

body
    color: $colour.default
    font-family: $font.body
    font-size: unit($fontsize, 'em')
    line-height: 1.7
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale /* FF */

h2
h3
    font-weight: bold
    text-transform: uppercase

h2
    font-size: 1.78em

h3
    font-size: 1.23em
    color: $colour.crystal
