.asidemenu
    a
        margin: 0 .25em
        color: $colour.default
        text-decoration: none

        &:hover
            text-decoration: underline

    a&-active
        text-decoration: underline

    svg
        vertical-align: middle

    @media $screen.sm
        width: 100%
        font-size: 2em

        a
            font-weight: bold

        svg
            margin-right: .5em
            transform: scale(1.5)
