.asidemenu
    a
        margin: 0 .25em
        color: $colour.default
        text-decoration: none

    svg
        vertical-align: middle

    @media $screen.sm
        font-size: 2em

        a
            font-weight: bold

        svg
            margin-right: .5em
            transform: scale(1.5)
