.featured
    {clearfix}

    &-item
        float: left
        width: calc(20% - 2em)
        height: 720px
        margin: 0 1em
        border-bottom: 7px solid $colour.default
        background-position: top center
        background-repeat: no-repeat
        list-style-type: none
        transition: width .25s ease

        &-on
            width: calc(25% - 2em)

        &-off
            width: calc(18.75% - 2em)

        for material in $materials
            &-{material}
                border-bottom-color: $colour[material]
                background-image: "url(../img/featured-%s.jpg)" % s(material)

    a
        position: relative
        display: block
        height: 100%
        width: 100%

    svg
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        fill: white

