.footerlinks
    text-align: center
    
    a
        color: $colour.default
        text-decoration: underline

        &:hover
            text-decoration: none

    &-item
        display: inline
        padding: 0 .5em
