.insert
    padding: 3em 0
    background-color: white
    text-align: center

    h2
        {bordered}
        padding-bottom: .5em

        &:after
            width: 160px
            margin-top: .25em
