.menu
    li
        display: inline
        padding-right: 1em
        font-size: 1.14em

    a
        color: $colour.default
        text-decoration: none

        &:hover
            text-decoration: underline

    svg
        vertical-align: middle

    &-lang
        padding-right: 0!important

    &-active
        a
            color: $colour.crystal
            text-decoration: underline
