.worknav
    display: flex
    justify-content: center
    width: 100%
    max-width: 760px
    margin: 0 auto
    list-style: none

    > li
        width: 20%
        margin: 0 1em
        padding-bottom: .5em

    svg
        {responsive}

    &-active
        border-bottom: 4px solid $colour.default

    // colours
    for material in $materials
        &-{material}
            svg
                fill: $colour[material]


        &-active&-{material}
            border-color: $colour[material]

    @media $screen.sm
        > li
            margin: 0 .25em
