.worknav
    {clearfix}
    width: 100%
    max-width: 700px
    margin: 0 auto
    list-style: none

    > li
        float: left
        width: calc(20% - 2em)
        margin: 0 1em
        padding-bottom: .5em

    svg
        {responsive}

    &-active
        border-bottom: 4px solid $colour.default

    // colours
    for material in $materials
        &-{material}
            svg
                fill: $colour[material]


        &-active&-{material}
            border-color: $colour[material]

    @media $screen.sm
        > li
            width: calc(20% - 1em)
            margin: 0 .5em
