.rFooter
    display: flex
    justify-content: space-between

    &-title
        font-size: 1.143em
        font-weight: bold
        text-align: center

    &-info
        flex-basis: 17%

    &-feed
        flex-basis: 33%
