.rWorks
    {clearfix}

    > li
        margin: 0 1em 2em
        float: left
        list-style-type: none

        &[data-index]
            display: none

    &-half
        width: calc(50% - 2em)

    &-third
        width: calc(100%/3 - 2em)
