.rWorks
    display: flex
    flex-wrap: wrap
    align-items: stretch
    list-style: none

    [data-index]
        display: none

    @media $screen.sm
        > li
            width: calc(50% - .5em)
            margin: .25em

    @media $screen.md
        {clearfix}
        margin: 0 -1em

        > li
            margin: 0 1em 2em
            list-style-type: none

        &-half
            width: calc(50% - 2em)

        &-third
            width: calc(100%/3 - 2em)
