.tPresentation
    h2
        display: inline-block
        background-color: $colour.crystal
        color: white
        padding: 0 .5em

    h3
        _bordered()
        padding-bottom: 1em
        text-transform: none
        color: $colour.default

    img
        border-bottom: 7px solid $colour.crystal
